@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
  main {
    padding: var(--ui-padding);
    max-width: 100%;
    height: 100%;
    .main-container {
      height: 100%;
      padding: var(--ui-padding);
      border-radius: 4px;
    }
    .view {
      width: 80%;
      margin: auto;
    }
  }
}
